@charset "UTF-8";

html, body {
  height: auto;
  margin: 0;
  padding: 0;
}

#wrap{margin : 0px auto; width:100%; height:100%;} 
#header{height:12%; z-index: 999}
#container{height:92%; position:relative;}
#left{width:13%; height:100%; position:absolute; top:0; left:0; margin-top:10px;}
#right{width:87%; height:100%; position:absolute;  top:0; left:13%; margin-top:10px;}

#header {
    display: flex;
    justify-content: space-between; /* 핵심! 왼쪽-오른쪽 자동 배치 */
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px; /* 여백 */
}

.share-button {
	background-color: #fff;
	color: #ff6b00;
	border: 1px solid #ff6b00;
	border-radius: 5px;
	padding: 10px 25px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.share-button:hover {
	background-color: #ff6b00;
	color: #fff;
}



#container, #left, #right {
  box-sizing: border-box;
}
.menu {margin-top:10px; margin-left:30px; margin-right:30px; display: flex; align-items: left; justify-content: left; font-family: 'Noto Sans KR', 'sans-serif'; font-size: 20px; font-weight:bold; color:#3E4D5A; white-space: nowrap;}
.icon {width:50px;}
#logo {width:100px; margin-left:70px; margin-top:10px}
.menuLink{color:#3E4D5A; font-weight: normal; text-decoration-line: none; font-weight:bold; }
.menu:hover{background-color:#DCE1E9}


@media (max-width: 1500px) {
    #left {width: 100px;}
    #right {width: 100%; left: 100px;}
    .menu-text {display: none;}
    .menu {justify-content: center;}
}


